* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background: #F5EAEA;
}


.gallery {
  width: 90%;
  height: 80vh;
  position: relative;
}

.tile {
  position: absolute;

  border-radius: 10px;
  transition: all 1000ms linear;
}

.tile > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;

  opacity: 0;
}

.tile:hover {
  transform: scale(1.1);
}

.tile:hover > img {
  opacity: 1;
  transform: scale(1.01);
}

.tile:nth-child(1){
  background-color: #0E8388;
  width: 20%;
  height: 40%;
  bottom: 35%;
  left: 50%;
}
.tile:nth-child(2){
  background-color: #dae0f2;
  width: 25%;
  height: 25%;
  bottom: 35%;
  left: 20%;
}
.tile:nth-child(3){
  background-color: #7D82B8;
  width: 30%;
  height: 25%;
  bottom: -10%;
  left: 35%;
}
.tile:nth-child(4){
  background-color: #2EC4B6;
  width: 25%;
  height: 20%;
  right: 5%;
  bottom: -10%;
}
.tile:nth-child(5){
  background-color: #87BFFF;
  width: 20%;
  height: 25%;
  right: -10%;
  bottom: 53%;
}
.tile:nth-child(6){
  background-color: #E8D2AE;
  width: 25%;
  height: 20%;
  right: -10%;
  bottom: 25%;
}
.tile:nth-child(7){
  background-color: #CB8589;
  width: 20%;
  height: 15%;
  top: -10%;
  right: -10%;
}
.tile:nth-child(8){
  background-color: #8093F1;
  width: 25%;
  height: 25%;
  top: -10%;
  left: -10%;
}
.tile:nth-child(9){
  background-color: #84B082;
  width: 15%;
  height: 30%;
  bottom: 35%;
  left: -10%;
}
.tile:nth-child(10){
  background-color: #F7C1BB;
  width: 25%;
  height: 25%;
  bottom: -10%;
  left: -10%;
}
.tile:nth-child(11){
  background-color: #AA8F66;
  width: 25%;
  height: 20%;
  top: -10%;
  left: 50%;
}
.tile:nth-child(12){
  background-color: #A9D8B8;
  width: 18%;
  height: 30%;
  top: -10%;
  left: 28.5%;
}
